main/BizTalkIntegration/Sample2/Orders.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Sales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Date" type="xs:string" />
        <xs:element minOccurs="0" name="StoreID" type="xs:int" />
        <xs:element minOccurs="0" name="SalesData">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Orders">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Order">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
                          <xs:element minOccurs="0" name="CustomerName" type="xs:string" />
                          <xs:element minOccurs="0" name="ProductID" type="xs:int" />
                          <xs:element minOccurs="0" name="ProductName" type="xs:string" />
                          <xs:element minOccurs="0" name="Quantity" type="xs:int" />
                          <xs:element minOccurs="0" name="UnitPrice" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>